[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
cython = "*"
pylint = "*"

[packages]
boto3 = "*"
ec2-metadata = "*"
pyyaml = "*"
jproperties = "*"
toml = "*"
unflatten = "*"

[requires]
python_version = "3.7"
